.field {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin: 20px;
	border-radius: 10px;
	gap: 10px;
	z-index: 1;
	max-width: 350px;
}

@media (max-width: 430px) {
	.field {
		gap: 5px;
		width: 250px;
	}
}

.cell {
	position: relative;
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	perspective: 1000px;
}

@media (max-width: 430px) {
	.cell {
		width: 80px;
		height: 80px;
	}
}

.front,
.back {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 16px;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;

	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
	border: 1px solid rgba(255, 255, 255, 0.3);

	transition: 0.5s;
	backface-visibility: hidden;
}

.front {
	transform: rotateY(180deg);
}

.front.cross {
	background: url('../../assets/cross.svg') no-repeat center;
	background-size: 50%;
	z-index: 2;
}

.front.zero {
	background: url('../../assets/zero.svg') no-repeat center;
	background-size: 50%;
	z-index: 2;
}

.cell.active .front {
	transform: rotateY(360deg);
}

.cell.active .back {
	transform: rotateY(180deg);
}

.cell:hover {
	cursor: pointer;
}

.cross {
	font-weight: bold;
	color: black;
}

.zero {
	font-weight: bold;
	color: white;
}
